* {
    padding: 0;
    margin: 0;
}
body {
    background: #ccc;
}

#topo {
    height:  150px;
    background: url(../imagens/fundo.png);
    position: sticky;
    
}

#container {
    width: 750px;
    margin: 20px auto;
    background: #fff url(../imagens/fundo.png);
    padding: 10px 10px;

}


ul {
    list-style: none;
}

a{
    text-decoration: none;
}

#topo ul {
    background: rgb(221, 205, 61) ;
    float: left;
    margin: 50px 500px;
    line-height: 40px;
    
}
#topo ul a {
    color: green;
}





#topo ul li  {
    background: url(../imagens/divisor.png) repeat-y left;
    float: left;
    padding: 0 10px ;
}

#topo ul a:hover {
    background: yellow;
    color: green;
}

body#home #topo  a.home,
body#contato #topo  a.contato,
body#redes-sociais #topo  a.redes-sociais,
body#contratar #topo  a.contratar,
body#sobre #topo  a.sobre {

    background: green;
    color: yellow;
}

/*-----------------     imagens------------*/

#conteudo {
    width: 750px;
    background: #fff;
}

p {
    padding-top: 10px;
    margin-left: 10px;
}

.fotos {
    height: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    
}
.fotos a:hover {
    background: blue;
    
}





/* ******************* */
.limpar {
    clear: both;
}

img {
    border-radius: 50px;
}

#rodape {
    background: rgb(151, 151, 151);
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 20px;

}

.lista {
    margin-left: 20px;
    list-style-type: decimal;
}


